body {
background-color: #ff6353;
}
*{
font-family: 'Montserrat', sans-serif;
}
.scrolly::-webkit-scrollbar {
	width: 12px;

}
.scolly::-webkit-scrollbar-track {

    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    border-radius: 10px;
}

.scrolly::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5);
			background-color:#ff6353;
}

.scrolly{
	height: 1000px;
	overflow-y: scroll;
}
/*modal-dialog{
width: 50%;
height: auto;
}*/
.ng-modal-overlay {
position: fixed;
z-index: 9999;
top: 0;
left: 0;
width: 100%;
height: 160%;
background-color: #000000;
opacity: 0.8;
}
.ng-modal-dialog {
z-index: 10000;
position: absolute;
width: 45%;
height: auto;
top: 63%;
left: 50%;
transform: translate(-50%, -50%);
-webkit-transform: translate(-50%, -50%);
-moz-transform: translate(-50%, -50%);
background-color: #fff;
box-shadow: 4px 4px 80px #000;
}


.ng-modal-dialog-content {
padding:10px;
text-align: left;
}
.ng-modal-close {
position: absolute;
top: 3px;
right: 5px;
padding: 5px;
cursor: pointer;
font-size: 120%;
display: inline-block;
font-weight: bold;
font-family: 'arial', 'sans-serif';
}



.maps{
display: none;
}

.showmap{
display: block;

}

.navbar {
padding: 10px ;
list-style-type: none;
position: fixed;
height: 20px;
z-index: 10;
background-color: #ff6353;
width: 100%;
/*border: white 1px solid;
border-radius: 0px;*/
top: 0;
}

.navbar li {
	display: inline;
	padding-right: 10px;
	padding-left: 5px;
}

.navbar a {
color: white;
font-weight: 600;
text-decoration: none;
}
.navbar a:hover {
color: #96e2c7;

}

.header{

background: url(../images/header2.jpg) no-repeat;
background-repeat:no-repeat !important;
-webkit-background-size:cover !important;
-moz-background-size:cover !important;
-o-background-size:cover !important;
background-size:cover !important;
background-position:left right !important;
}

.mobilePic{
display: none;

}

.instructions {
font-size: .55em;
width: 60%;
display: block;
margin: 0 auto;
font-weight: 400;
line-height: normal;
text-shadow: 1px 1px 2px #9b3f43;
}


.blackBand{
margin-top: 10%;
font-family: 'Montserrat', sans-serif;
font-size: 25px;
color: #fff;
background-color: #111;
padding:10px;
font-weight: 400;
letter-spacing: 5px;
}

.row {
margin-right: 0px !important;
margin-left: 0px !important;
}
/*examples text*/
h4{
margin-top: 0;
padding: 1%;
}

.displayFood div{
display: inline-block;
}

/*---------------------------RESTAURANT TEXT STYLING---------------------------*/

.listings {
width: 100%;
margin: 0 auto;
}

.listings section{
background-color: #fff;
box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
padding: 3%;

/*padding-bottom: 3%;*/



}

.listings img {
margin: 8% 1%;
width: 80%;
/*clip-path: inset(4px 5px 4px 6px);*/
/*height: auto;*/
float: left;
border-radius: 2%;
}



.listings p {
/*position: relative;*/
}
/*Name of restaurant*/
.restaurant{
margin: 2%;
font-size: 2em;
color: #ff6353;
font-weight: 600;
line-height: 34px;
}

/*learn more button*/
.listings button {
width: 60%;
display: block;
margin: auto;
margin-bottom: 3%;
color: black;
background-color: #eae8e7;
border: none;
padding-top: 2%;
}

.listings button:hover {
width: 60%;
display: block;
margin: auto;
margin-bottom: 3%;
color: black;
background-color: #8be1c8;
border: none;
padding-top: 2%;
}

.listings a:hover {
text-decoration: none;
}



/*map background*/
.map {
background: url(../images/map6.jpg);
width: 100%;
height: 100%;

}

/*text in header Dining options and description*/
.dating{
font-size: 3vh;
/*padding-top: 3vh;*/
font-weight: 600;
text-align: center;
color: white;
z-index: 6;
/*margin-top: 10%;*/

}

/*each span in about*/
.thefam {
width: 37%;
display: inline-block;
margin: 5% 6%;
}

.aboutShow {
background-color: white;
background-size: 100% 100%;
z-index: 1000;
position: absolute;
margin: 1% 20%;
box-shadow: 5px 5px 20px #111;
border-radius: 10px;
height: auto;
width: 60%;
animation: fadein 2s;
-moz-animation: fadein 2s;
-webkit-animation: fadein 2s;
-o-animation: fadein 2s;
}

/*circle pictures*/
.cortney,
.peter,
.chelsey,
.kofi{
height: auto;
width: 100%;
border-radius: 100%;
}

.icons{
text-align: center;
}

.faveFood{
margin-top: -3%;
}


@keyframes fadein {
from {
opacity:0;
}
to {
opacity:1;
}
}
@-moz-keyframes fadein { /* Firefox */
from {
opacity:0;
}
to {
opacity:1;
}
}
@-webkit-keyframes fadein { /* Safari and Chrome */
from {
opacity:0;
}
to {
opacity:1;
}
}
@-o-keyframes fadein { /* Opera */
from {
opacity:0;
}
to {
opacity: 1;
}
}








/*************************************
dining columns
********************************/


.innerdiv{

	width:65%;
	margin: 10px auto;
	padding-top: 20px;
	padding-bottom: 20px;
}
/*Cheap column*/
.hazy{

	height: 530px;
	background-color: #96e2c7;
	padding-top: 0.5%;
	z-index: 4;

}

.hazy h1{
text-align: center;
font-weight: 700;
letter-spacing: 3px;

}
.hazy h4{
margin: 10px;
}
.hazy p{
margin: 0;
}

.hazy li{
margin: 0 2%;
}

/*second column*/
.hopeful{

	height: 530px;
	padding-top: 0.5%;
background-color: #75d7b4;
z-index: 3;

}
.hopeful h1{

font-weight: 700;
text-align: center;
letter-spacing: 3px;
}
.hopeful h4{

margin: 10px;
}
.hopeful p{
margin: 0;
}
.hopeful li{
margin: 0 2%;
}
/*third column*/
.anniversary{

	height: 530px;
	padding-top: 0.5%;
	background-color: #63d1aa;

}
.anniversary h1{
font-weight: 700;
text-align: center;
letter-spacing: 3px;

}

.anniversary h4{

margin: 10px;
}
.anniversary p{
margin: 0;
}
.anniversary li{
margin: 0 2%;
}

/*generate dining options*/
.genButton{
	background-color: #111;
	border-style: none;
	border-radius: 2px;
	text-align: center;
	display: block;
	margin: 20px auto;
	color: #91e1c5;
	text-decoration: none;

}

.genButton:hover {
	background-color: white;
	color: #ff6353;
	text-decoration: none;

}

.genButton a:hover {
	background-color: white;
	color: #ff6353;
	text-decoration: none;
}

.dollar{
margin-top: 0;
}

/*filter input box*/
#filterinput {
width: 300px;
border: none;
display: block;
margin: 10px auto 20px auto;
font-weight: 300;
padding: 10px;
}

.btnHit{
display: inline-block;
position: fixed;
top: 95%;
right: 0%;
z-index: 0;
}




/**************************
media queries
***************************/

/* Large desktops and laptops */
@media (min-width: 1200px) {

}

/* Landscape tablets and medium desktops */


/* Portrait tablets and small desktops */
@media (min-width: 768px) and (max-width: 991px) {

.innerdiv {
	margin-top: 0px;
	margin-bottom: 5px;
}
	.hazy {
		height: 430px;
		margin: 0 auto;
	}
	.hazy p {
		width: 60%;
		display: block;
		margin: 0 auto;
	}
	.hazy ul {
		display: block;
		margin-left: 15%;
	}

	.hazy h4 {
		margin-left: 19%;
	}
/*hopeful*/

	.hopeful {
		height: 430px;
		margin: 0 auto;
	}
	.hopeful p {
		width: 60%;
		display: block;
		margin: 0 auto;
	}
	.hopeful ul {
		display: block;
		margin-left: 15%;
	}

	.hopeful h4 {
		margin-left: 19%;
	}
	/*anniversary*/

		.anniversary {
			height: 430px;
			margin: 0 auto;
		}
		.anniversary p {
			width: 60%;
			display: block;
			margin: 0 auto;
		}
		.anniversary ul {
			display: block;
			margin-left: 15%;
		}

		.anniversary h4 {
			margin-left: 19%;
		}
	.innerdiv {
		margin-top: 20px;
	}

	.listings {
		width: 70%;
	}
	.listings img {
		margin: 3% 1%;
		width: 40%;
		height: auto;
		float: left;
		border-radius: 2%;
		padding-right: 5%;
	}
	#box {
		margin-left: 172px;
		padding-left: 50px;

}

}


/* Landscape phones and portrait tablets */
@media (max-width: 767px) {

.mobilePic{
visibility: visible;
display: block;
margin: 0 auto;
}
.pagePic{
display: none;
}

.listings {
width: 80%;
}
.listings img {
margin: 3% 1%;
width: 40%;
height: auto;
float: left;
border-radius: 2%;
padding-right: 5%;
}



}


@media (max-width: 700px) and (min-width: 580px){
.ng-modal-dialog {
z-index: 10000;
position: absolute;
width: 80%;
height: auto;
top: 63%;
left: 50%;
transform: translate(-50%, -50%);
-webkit-transform: translate(-50%, -50%);
-moz-transform: translate(-50%, -50%);
background-color: #fff;
box-shadow: 4px 4px 80px #000;
}
.hazy {
	height: 430px;
	margin: 0 auto;
}
.hopeful {
	height: 430px;
	margin: 0 auto;
}
.anniversary {
	height: 430px;
	margin: 0 auto;
}

}

/* Portrait phones and smaller */
@media (max-width: 580px){
.ng-modal-dialog {
z-index: 10000;
position: absolute;
width: 70%;
height: auto;
top: 59%;
left: 50%;
transform: translate(-50%, -50%);
-webkit-transform: translate(-50%, -50%);
-moz-transform: translate(-50%, -50%);
background-color: #fff;
box-shadow: 4px 4px 80px #000;

}


@media (max-width: 480px) {

	.hazy {
		height: 260px;
		margin: 0 auto;
	}
	.hopeful {
		height: 260px;
		margin: 0 auto;
	}
	.anniversary {
		height: 260px;
		margin: 0 auto;
	}
	.notext {
		display: none;
	}


.listings img {
	display: block;
	width: 50%;
	height: auto;
	border-radius: 2%;
	padding-right: 5%;
	margin-top: 2px;
	position: relative;
}

.listings {
	text-align: center;
}
.btnHit {
	display: inline-block;
	position: fixed;
	top: 96%;
	right: 0%;
	z-index: 0;


}
.genButton {
	background-color: #111;
	border-style: none;
	border-radius: 2px;
	text-align: center;
	margin: 0 auto 10%;
	color: #91e1c5;
	display: block;
}

@media (max-width: 450px){
	.ng-modal-dialog {
		z-index: 10000;
		position: absolute;
		width: 91%;
		height: auto;
		top: 55%;
		left: 50%;
		transform: translate(-50%, -50%);
		-webkit-transform: translate(-50%, -50%);
		-moz-transform: translate(-50%, -50%);
		background-color: #fff;
		box-shadow: 4px 4px 80px #000;
	}
