/**Testing**/


body {
	background-color: #ff6353;
}
*{
	font-family: 'Montserrat', sans-serif;
}


.ng-modal-overlay {
  /* A dark translucent div that covers the whole screen */
  position:absolute;
  z-index:9999;
  top:0;
  left:0;
  width:100%;
  height:100%;
  background-color:#000000;
  opacity: 0.8;
}
.ng-modal-dialog {
    z-index: 10000;
    position: absolute;
    /* width: 50%; */
    top: 59%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    background-color: #fff;
    box-shadow: 4px 4px 80px #000;
}


.ng-modal-dialog-content {
  padding:10px;
  text-align: left;
}
.ng-modal-close {
  position: absolute;
  top: 3px;
  right: 5px;
  padding: 5px;
  cursor: pointer;
  font-size: 120%;
  display: inline-block;
  font-weight: bold;
  font-family: 'arial', 'sans-serif';
}



.maps{
	display: none;
}

.showmap{
	display: block;

}

.navbar {
	padding: 10px ;
	list-style-type: none;
	position: fixed;
	height: 20px;
	z-index: 10;
	background-color: #ff6353;
	width: 100%;
	/*border: white 1px solid;
	border-radius: 0px;*/
	top: 0;
}

.navbar li {
	display: inline;
	padding-right: 10px;
}

.navbar a {
	color: white;
	font-weight: 600;
	text-decoration: none;
}
.navbar a:hover {
	color: #96e2c7;

}

	.header{

		background: url(../images/Header.jpg) no-repeat;
		background-repeat:no-repeat !important;
		-webkit-background-size:cover !important;
		-moz-background-size:cover !important;
		-o-background-size:cover !important;
		background-size:cover !important;
		background-position:left right !important;
	}

	.mobilePic{
		display: none;

	}

	.instructions {
		font-size: .75em;
		width: 80%;
		display: block;
		margin: 0 auto;
		font-weight: 400;
		line-height: normal;
		text-shadow: #ff6353;
	}


.blackBand{
	margin-top: 20%;
	font-family: 'Montserrat', sans-serif;
	font-size: 25px;
	color: #fff;
	background-color: #111;
	padding:10px;
}

.row {
	margin-right: 0px !important;
	margin-left: 0px !important;
}
/*examples text*/
h4{
	margin-top: 0;
	padding: 1%;
}

.displayFood div{
	display: inline-block;
}

/*---------------------------RESTAURANT TEXT STYLING---------------------------*/

.listings {
	width: 100%;
	margin: 0 auto;
}

.listings section{
	background-color: #fff;
	box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
	padding: 3%;

	/*padding-bottom: 3%;*/



}

		.listings img {
			margin: 8% 1%;
			width: 80%;
			/*clip-path: inset(4px 5px 4px 6px);*/
			/*height: auto;*/
			float: left;
			border-radius: 2%;
		}



.listings p {
/*position: relative;*/
}
/*Name of restaurant*/
.restaurant{
	margin: 2%;
	font-size: 2em;
	color: #ff6353;
	font-weight: 600;
	line-height: 34px;
}

/*learn more button*/
.listings button {
	width: 60%;
	display: block;
	margin: auto;
	margin-bottom: 3%;
	color: black;
	background-color: #eae8e7;
	border: none;
	padding-top: 2%;
}

.listings button:hover {
	width: 60%;
	display: block;
	margin: auto;
	margin-bottom: 3%;
	color: black;
	background-color: #8be1c8;
	border: none;
	padding-top: 2%;
}

.listings a:hover {
	text-decoration: none;
}



/*map background*/
.map {
	background: url(../images/map6.jpg);
	width: 100%;
	height: 100%;

}

/*text in header Dining options and description*/
.dating{
	font-size: 3vh;
	/*padding-top: 3vh;*/
	font-weight: 600;
	text-align: center;
	color: white;
	/*margin-top: 10%;*/

}

/*each span in about*/
.thefam {
	width: 37%;
	display: inline-block;
	margin: 5% 6%;
}

.aboutShow {
	background-color: white;
	background-size: 100% 100%;
	z-index: 1000;
	position: absolute;
	margin: 1% 20%;
	box-shadow: 5px 5px 20px #111;
	border-radius: 10px;
	height: auto;
	width: 60%;
	animation: fadein 2s;
	-moz-animation: fadein 2s;
	-webkit-animation: fadein 2s;
	-o-animation: fadein 2s;
}

/*circle pictures*/
.cortney,
.peter,
.chelsey,
.kofi{
	height: auto;
	width: 100%;
	border-radius: 100%;
}

.icons{
	text-align: center;
}

.faveFood{
	margin-top: -3%;
}


@keyframes fadein {
	from {
		opacity:0;
	}
	to {
		opacity:1;
	}
}
@-moz-keyframes fadein { /* Firefox */
	from {
		opacity:0;
	}
	to {
		opacity:1;
	}
}
@-webkit-keyframes fadein { /* Safari and Chrome */
	from {
		opacity:0;
	}
	to {
		opacity:1;
	}
}
@-o-keyframes fadein { /* Opera */
	from {
		opacity:0;
	}
	to {
		opacity: 1;
	}
}








/*************************************
dining columns
********************************/
.innerdiv{
	width:65%;
	margin: auto;
	padding: 20px;

}
/*Cheap column*/
.hazy{
	height: 100%;
	/*width: 80%;*/
	background-color: #96e2c7;
	padding-top: 0.5%;
}

.hazy h1{
	text-align: center;
	font-weight: 700;
	letter-spacing: 3px;

}
.hazy h4{
	margin: 10px 11%;
}
.hazy p{
	margin: 0 12%;
}

.hazy li{
	margin: 0 4%;
}

/*second column*/
.hopeful{
	height: 100%;
	padding-top: 0.5%;


	/*width: 80%;*/
	background-color: #75d7b4;
}
.hopeful h1{

	font-weight: 700;
	text-align: center;
	letter-spacing: 3px;
}
.hopeful h4{
	margin: 10px 11%;
}
.hopeful p{
	margin: 0 12%;
}
.hopeful li{
	margin: 0 4%;
}

/*third column*/
.anniversary{
	height: 100%;
	padding-top: 0.5%;


	/*width: 80%;*/
	background-color: #63d1aa;
}
.anniversary h1{
	font-weight: 700;
	text-align: center;
	letter-spacing: 3px;

}

.anniversary h4{
	margin: 10px 11%;
}
.anniversary p{
	margin: 0 12%;
}
.anniversary li{
	margin: 0 4%;

}

/*generate dining options*/
.genButton{
	background-color: #111;
	border-style: none;
	border-radius: 2px;
	text-align: center;
	margin: 0 40% 10%;
	color: #91e1c5;
}

.genButton:hover {
	background-color: white;
	color: #ff6353;
}
.dollar{
	margin-top: 0;
}

/*filter input box*/
#filterinput {
	width: 300px;
	border: none;
	display: block;
	margin: 10px auto 20px auto;
	font-weight: 300;
	padding: 10px;
}



/**************************
media queries
***************************/

/* Large desktops and laptops */
@media (min-width: 1200px) {

}

/* Landscape tablets and medium desktops */
@media (min-width: 992px)  {
}

/* Portrait tablets and small desktops */
@media (min-width: 768px) and (max-width: 991px) {
	.listings {
		width: 70%;
	}
	.listings img {
		margin: 3% 1%;
		width: 40%;
		height: auto;
		float: left;
		border-radius: 2%;
		padding-right: 5%;
	}
	#box {
		margin-left: 172px;
		padding-left: 50px;

	}

}


/* Landscape phones and portrait tablets */
@media (max-width: 767px) {

	.mobilePic{
		visibility: visible;
		display: block;
		margin: 0 auto;
	}
	.pagePic{
		display: none;
	}

	.listings {
		width: 80%;
	}
	.listings img {
		margin: 3% 1%;
		width: 40%;
		height: auto;
		float: left;
		border-radius: 2%;
		padding-right: 5%;
	}






}

/* Portrait phones and smaller */
@media (max-width: 480px) {

	.notext {
		display: none;
	}

	.listings img {
		display: block;
		width: 50%;
		height: auto;
		border-radius: 2%;
		padding-right: 5%;
		margin-top: 2px;
		position: relative;
	}

	.listings {
text-align: center;
	}


}

/*@media(max-width: 992px){
	.pagePic{
		margin: 0% auto;
		display: block;
		width: 80%;
	}
	.listings img{
		width: 30%;
		padding: 0
	}

	.listings {
		width: 60%;
		display: block;
		margin: 0 auto;
	}


}*/




/*@media( max-width:990px){

	/*.pagePic{
		display: none;
	}*/


	/*.listings {
		width: 70%;
	}
	.listings img {
		margin: 3% 1%;
		width: 30%;
		object-fit: cover !important;
		height: auto;
		float: left;
		border-radius: 2%;
	}
}



/*@media( max-width:760px){
	.listings{
		text-align: center;
	}
}*/
/*
@media( max-width:600px){
	.mobilePic{
		visibility: visible;
		display: block;
		margin: 0 auto;
	}
	.pagePic{
		display: none;
	}



}


@media( max-width:420px){
	.notext {
		display: none;
	}



}*/



	/*.listings section{
		background-color: #fff;
		box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
		/*width: 50%*/
