body {
	background-color: #ff6353;
}
*{
	font-family: 'Montserrat', sans-serif;
}


#detroit {
	/*margin-top: 0;*/
	/*letter-spacing: 3vh;*/
text-align: center;
}

.navbar {
padding: 10px ;
list-style-type: none;
position: fixed;
height: 20px;
z-index: 10;
border: white 1px solid;
border-radius: 0px;
top: 0;
}

.navbar li {
	display: inline;
	padding-right: 10px;
}

.navbar a {
	color: white;
	font-weight: 600;
	text-decoration: none;
}
.navbar a:hover {
	color: #96e2c7;

}
/*
.navBar li {
	color: white;
	font-weight:600;
	list-style: none;
	display: inline;
	padding: 10px;
	margin-top: 10px;
	background-color: yellow;
}*/

.header{

	background: url(../images/Header.jpg) no-repeat;
	background-repeat:no-repeat !important;
	-webkit-background-size:cover !important;
	-moz-background-size:cover !important;
	-o-background-size:cover !important;
	background-size:cover !important;
	background-position:left right !important;
}

.mobilePic{
	display: none;

}

/*.header h1{
	font-family: 'Montserrat', sans-serif;
	font-weight: 900;
	font-size:5em;
	color: white;
}*/

/*#detroit {
	display: block;
	margin: 10px auto 0 auto;
}*/

/*.dineops{
height: 50px;
	margin: 11% auto;
background-color: #111;
color: #91e1c5;
z-index: -1;
}*/

.blackBand{
	margin-top: 20%;
	font-family: 'Montserrat', sans-serif;
	font-size: 25px;
	color: #fff;
	background-color: #111;
	padding:10px;
}

.row {
     margin-right: 0px !important;
     margin-left: 0px !important;
}

h4{
	margin-top: 0;
	padding: 1%;
}


.listings section{
	background-color: #fff;
	box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);

}


.cuisoptions{
	/*width: 100%;*/
	/*margin: 0% 25px;*/
}

.listings img {
	margin: 5% 10%;
	width: 65%;
	object-fit: cover;
	height: auto;
	position: absolute;
	clip: rect(8px,150px,129px,7px);
		border-radius: 2%;
}



.displayFood div{
	display: inline-block;
}

.restaurant{
	margin: 2%;
	font-size: 30px;
	color: darkred;
}

.map {
	background: url(../images/map6.jpg);
	width: 100%;
	height: 100%;

}

.dating{
	font-size: 3vh;
	/*padding-top: 3vh;*/
	font-weight: 600;
	text-align: center;
	color: white;
	/*margin-top: 10%;*/

}
.thefam {
    width: 20%;
    background: blue;
    display: inline-block;
    margin: 5% 10%;
}

.aboutShow {
    background-color: white;
    background-size: 100% 100%;
    z-index: 1000;
    position: absolute;
    margin: 1% 25%;
    box-shadow: 5px 5px 20px #111;
    border-radius: 10px;
    height: auto;
    width: 50%;
		animation: fadein 2s;
    -moz-animation: fadein 2s; /* Firefox */
    -webkit-animation: fadein 2s; /* Safari and Chrome */
    -o-animation: fadein 2s; /* Opera */
    }
.cortney,
.peter,
.chelsey,
.kofi{
	height: auto;
	width: 100%;
}

.icons{
	text-align: center;
}

    
@keyframes fadein {
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-moz-keyframes fadein { /* Firefox */
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-webkit-keyframes fadein { /* Safari and Chrome */
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-o-keyframes fadein { /* Opera */
    from {
        opacity:0;
    }
    to {
        opacity: 1;
    }
}








/*************************************
dining columns
********************************/
.innerdiv{
	width:65%;
	margin: auto;
	padding: 20px;

}
.hazy{
	height: 100%;
	/*width: 80%;*/
	background-color: #96e2c7;
}

.hazy h1{
	text-align: center;
	font-weight: 700;
}
.hazy h4{
	margin: 10px 11%;
}
.hazy p{
	margin: 0 12%;
}

.hazy li{
	margin: 0 4%;
}

.hopeful{
	height: 100%;

	/*width: 80%;*/
	background-color: #75d7b4;
}
.hopeful h1{

	font-weight: 700;
	text-align: center;
}
.hopeful h4{
	margin: 10px 11%;
}
.hopeful p{
	margin: 0 12%;
}
.hopeful li{
	margin: 0 4%;
}
.anniversary{
	height: 100%;

	/*width: 80%;*/
	background-color: #63d1aa;
}
.anniversary h1{
	font-weight: 700;
	text-align: center;
}

.anniversary h4{
	margin: 10px 11%;
}
.anniversary p{
	margin: 0 12%;
}
.anniversary li{
	margin: 0 4%;

}

.genButton{
	background-color: #111;
	border-style: none;
	border-radius: 2px;
	text-align: center;
	margin: 0 40% 10%;
	color: #91e1c5;
}
.dollar{
	margin-top: 0;
}

#filterinput {
	width: 300px;
	border: none;
	display: block;
	margin: 10px auto 20px auto;
	font-weight: 300;
	padding: 10px;
}


/**************************
media queries
***************************/
@media(max-width: 800px){
	.pagePic{
	margin: 0% auto;
    display: block;
    width: 80%;

	}
}



@media( max-width:760px){
	.listings{
		text-align: center;
	}
}

@media( max-width:600px){
	.mobilePic{
visibility: visible;
    display: block;
    margin: 0 auto;
	}
	.pagePic{
		display: none;
	}
}



/*@media(max-width: 940px){
	.dineops{
		margin:8% auto;
	}
	.cuisoptions{
		width: 100%;
            margin: 0 auto;
	}
	img{
		width: 40%;
	}
	.header{
		height: 300px
	}

}
*/
/*@media(max-width: 675px){
	.dineops{
		margin:6% auto;
	}
	img{
		width: 40%;
	}
	.header{
		height: 300px;
	}
}

@media(max-width: 570px){
	.dineops{
		margin:5% auto;
	}
	img{
		width: 50%;
	}
	.header h1{
		font-size: 3em;
	}
	.header{
		height: 200px;
	}*/

/*@media(max-width: 620px){
	.dineops{
		margin:6.5% auto;
	}
	.header{
		height:200px;
	}
	.header h1{
		font-size: 4em;
	}
}

@media(max-width: 480px){
	.dineops{
		margin:5% auto;

	}
	.header{
		height:200px;
	}
	.header h1{
		font-size: 3em;
	}
	h4{
		padding-top: 1%;
	}
}
*/

/*.header{

  background: url(../images/Header.jpg) no-repeat;
  background-size: 100% ;
  height: 520px;
text-align: center;
}
.header h1{
  margin-top: 10%;
  font-family: 'Montserrat', sans-serif;
  font-weight: 900;
font-size:5em;
  color: white;
}
