<br>
<input id="filterinput" placeholder="Filter By Cuisine or Restaurant Name" type="text" ng-model = 'listItem' ng-model = 'price'></input>


<div ng-show='foodstuff.restaurant.price_range == price[2] ||foodstuff.restaurant.price_range == price[3] ' class ="listings" ng-repeat="foodstuff in food | filter: listItem">
	<food-directive></food-directive>


</div>

<!-- <br>
<input type="text" ng-model = 'listItem' ng-model = 'price'>
<div ng-show='foodstuff.restaurant.price_range == price[0]'  class ="listings" ng-repeat="foodstuff in food | filter: listItem">
  <p>RESTUARANT: {{ foodstuff.restaurant.name}}</p>
  <p>COST: {{ foodstuff.restaurant.currency}}</p>
  <p >COST: {{ foodstuff.restaurant.price_range}}</p>
  <p id = "cuisine">CUISINES: {{ foodstuff.restaurant.cuisines}}</p>


  <img src="{{ foodstuff.restaurant.featured_image}}" alt="">
</div> -->
